@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

  /* color: #ECE3DA; your primary light text */
  /* line-height: 1;
  vertical-align: middle; */
}

/* Accent / interactive state */
.material-symbols-outlined.accent {
  color: #EBBA92;
  /* your peach */
}

/* Muted / secondary */
.material-symbols-outlined.muted {
  color: #146875;
  /* your teal */
}

/* Hover (subtle, dark-theme friendly) */
.material-symbols-outlined:hover {
  color: #EBBA92;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}